body{
    background-color: #9266ff;
}
  
.App{
    background-color: #3f3160;
    min-height: 500px;
    width: 400px;
    margin: 40px auto;
}

.App input{
    background-color: rgb(27,112,137);
    border:0;
    width: 200px;
    height: 50px;
    padding: 0 20px;
    margin: 20px;
    font-size: 18px;
    border-radius: 10px;
    color: #fff;
}
  
.App input::placeholder{
    color: rgba((255), 255, 255, 0.5);
}
  
.App input:focus{
    outline: none;
}
  
.App button{
    background-color: rgb(202,156,24);
    border:0;
    width: 80px;
    height: 50px;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    font-weight: bolder;
}
  
.App button:focus{
    outline: none;
}

.App ul li{
    color: #fff;
    width: 300px;
    margin: 20px auto;
    height: 30px;
    background-color: #bf07ac;
    border-radius: 5px;
}

.App ul li{
    padding: 10px;
    position: relative;
}

.App ul li input{
    background-color: transparent;
    border: 0;
    color: #fff;
    font-size: 18px;
}

.App ul li input:focus{
    outline: none;
}

.App ul li button{
    background-color: rgb(27,112,137);
    margin: 0 5px;
    font-size: 15px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    border:0;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    color: #fff;
    font-weight: bolder;
}